[Unit]
Description=StatusBot Autostart
After=network.target
StartLimitIntervalSec=10
RestartSec=10

[Service]
Type=forking
User=pi
ExecStart=/home/pi/startup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
